// Colours
// Background Gradient
$clr-bg-violet: hsl(273, 75%, 66%);
$clr-bg-blue: hsl(240, 73%, 65%);
// Text Colours
$clr-neutral-text-100: hsl(240, 6%, 50%);
$clr-neutral-text-500: hsl(237, 12%, 33%);
$clr-primary-text-900: hsl(238, 29%, 16%);
$clr-text-hover: hsl(14, 88%, 65%);
// Accordion Dividers
$clr-divider: hsl(240, 5%, 91%);
// Generic Colours
$clr-white: #fff;

// Fonts
$font-family-primary: "Kumbh Sans", sans-serif;
$font-weight-primary: 400;
$font-weight-bold: 700;
